<mat-toolbar color = "primary">
    <p>
        <mat-toolbar-row id="navbar" >
            <span>
                <h1 class="title">Recipe Book</h1>
            </span>
            <span id="nav-buttons">
                <button mat-button routerLink="/recipes" routerLinkActive="active" ariaCurrentWhenActive="page">Recipes</button>
                <button mat-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Pantry</button>
                <button mat-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Shopping List</button>
                <button mat-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Login or Sign up</button>
            </span>
        </mat-toolbar-row>
    </p>

</mat-toolbar>

