<mat-toolbar color = "primary">
    <p>
        <mat-toolbar-row id="navbar" >
            <span>
                <h1 class="title">Recipe Book</h1>
            </span>
            <span id="nav-buttons">
                <table style="width:100%">
                  <tr>
                    <td><button mat-raised-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Recipes</button></td>
                    <td><p></p></td>
                    <td><button mat-raised-button routerLink="/pantry" routerLinkActive="active" ariaCurrentWhenActive="page">Pantry</button></td>
                    <td><p></p></td>
                    <td><button mat-raised-button routerLink="/shopping-list" routerLinkActive="active" ariaCurrentWhenActive="page">Shopping List</button></td>
                    <td><p></p></td>
                    <td><button mat-raised-button routerLink="/login-signup" routerLinkActive="active" ariaCurrentWhenActive="page">Login</button></td>
                  </tr>
              </table>
            </span>
        </mat-toolbar-row>
    </p>


<mat-toolbar id="navbar" color = "primary">
    <span>
        <h1 class="title">Recipe Book</h1>
    </span>
    <span id="nav-buttons">
        <button mat-raised-button color="lightblue" routerLink="/recipes" routerLinkActive="active" ariaCurrentWhenActive="page">Recipes</button>
        <button mat-raised-button color="lightblue" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Pantry</button>
        <button mat-raised-button color="lightblue" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Shopping List</button>
        <button mat-raised-button color="lightblue" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Login</button>
    </span>
</mat-toolbar>

