<style>
  h1 {text-align: center;}
  p {text-align: center;}
  div {text-align: center;}
</style>
<h1 mat-dialog-title>Recipe</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Date (MM/DD/YYYY)</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.date" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.name" />
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Ingredients</mat-label>
    <textarea matInput [(ngModel)]="data.ingredients"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Instructions</mat-label>
    <textarea matInput [(ngModel)]="data.instructions"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Image (optional)</mat-label>
    <input matInput [(ngModel)]="data.image" />
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Tags</mat-label>
    <input matInput [(ngModel)]="data.tags" />
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Rating</mat-label>
    <input matInput [(ngModel)]="data.rating" />
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Notes (optional)</mat-label>
    <textarea matInput [(ngModel)]="data.notes"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Source (optional)</mat-label>
    <input matInput [(ngModel)]="data.source" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
</div>