<div id="recipe-display">
  <div id="controls">
    <button title="edit" type="button" mat-mini-fab color="primary" routerLink="#">
      <mat-icon>edit</mat-icon>
    </button>
    <!-- <button title="add" type="button" mat-mini-fab color="warn" routerLink="/recipes/new">
      <mat-icon>add</mat-icon>
    </button> -->
    <app-add-recipe-button></app-add-recipe-button>
  </div>
  <div id="recipe-container">
    <app-recipe-card *ngFor="let recipe of recipes" [recipe]=recipe></app-recipe-card>
  </div>
</div>
