
#recipe-display {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#controls {
  position: fixed;
  right: 1vw;
  padding: 1vw;
}
#controls button {
  margin: 1vw;
  box-shadow: none;
}

#recipe-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}
