
<div class="container">
    <div [hidden]="submitted">
      <h3>Ingredients</h3>
      <form (ngSubmit)="onSubmit()" #ingredients="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input matInput type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="ingredient.name" name="name"
                 #name="ngModel">
        </div>
  
        <div class="form-group">
          <label for="amount">Amount</label>
          <input matInput type="text" class="form-control" id="amount"
                 [(ngModel)]="ingredient.amount" name="amount">
        </div>
  
        <div class="form-group">
            <label for="amountType">Unit</label>
            <input matInput type="text" class="form-control" id="amountType"
                   required
                   [(ngModel)]="ingredient.amountType" name="amountType"
                   #amountType="ngModel">
          </div>
  
        <button type="submit" class="btn btn-success" [disabled]="!ingredients.form.valid">Add</button>
        
      </form>
    </div>
  
    <div [hidden]="!submitted">
      <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9">{{ ingredient.name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Amount</div>
        <div class="col-xs-9">{{ ingredient.amount }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Unit</div>
        <div class="col-xs-9">{{ ingredient.amountType }}</div>
      </div>
      <br>
      <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
      <button type="button" class="btn btn-default" (click)="newIngredient(); ingredients.reset();submitted=false">New Ingredient</button>
    </div>
  </div>