  <mat-card class="recipe-card">
    <!-- <img mat-card-image [src]="recipe.image" /> -->
    <mat-card-header>
      <mat-card-title>{{ recipe.name }}</mat-card-title>
      <mat-card-subtitle>{{ recipe.rating }} / 5</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>Ingredients:</h3>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }} - {{ ingredient.amount }}
          {{ ingredient.amountType }}
        </li>
      </ul>
      <h3>Instructions:</h3>
      <ol>
        <li *ngFor="let step of recipe.instructions">
          {{ step }}
        </li>
      </ol>
    </mat-card-content>
    <mat-card-actions class="card-buttons" aria-label="manage">
      <button mat-button>Edit</button>
      <button mat-button>Delete</button>
      <button mat-button>Like</button>
      <button mat-button>Share</button>
    </mat-card-actions>
  </mat-card>