#modal {
  margin: 10px;
  padding: 30px;
}

h1, p, div {
  text-align: center;
}

#form-inputs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}