@use "@angular/material" as mat;

@include mat.core();
@include mat.strong-focus-indicators(
  (
    border-style: dotted,
    border-width: 4px,
    border-radius: 2px,
  )
);

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.all-component-themes($my-theme);
@include mat.strong-focus-indicators-theme(purple);

html, body {
  margin: 0;
  padding: 0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
